include LICENSE
include README.md
include CMakeLists.txt
include .gitmodules

graft src
graft include
graft externals/Eigen/Eigen
graft externals/Eigen/unsupported/Eigen
include externals/Eigen/COPYING.*
include externals/Eigen/COPYING.README

graft tests

global-exclude *.py[cod] __pycache__/*
global-exclude .git
global-exclude .gitignore
global-exclude .gitattributes
global-exclude .DS_Store
global-exclude *.so
prune build
prune dist
prune temp
prune docs/_build
prune .github
prune .vscode
prune docs
prune examples
prune sandbox

prune externals/Eigen/bench
prune externals/Eigen/blas
prune externals/Eigen/ci
prune externals/Eigen/cmake
prune externals/Eigen/debug
prune externals/Eigen/demos
prune externals/Eigen/doc
prune externals/Eigen/failtest
prune externals/Eigen/scripts
prune externals/Eigen/test
prune externals/Eigen/unsupported/bench
prune externals/Eigen/unsupported/doc
prune externals/Eigen/unsupported/test
